header{
    background-image:url("http://www.wallpapermaiden.com/image/2016/07/01/overwatch-genji-mecha-armored-games-1942-resized.jpg");
    background-repeat: no-repeat;
    color:white;

}
.center {
    margin: 0 auto;
    padding: 0;

}



